/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


.AboutCard {
    /*width: 300px;
    font-size: 3px;
    position: absolute;
    right: 0px;
    top: 650px;*/
}

/*.widgetHighest {
    width: 300px;
    font-size: 3px;
    position: absolute;
    right: 0px;
    top: 1300px
}

.widgetLastest {
    width: 300px;
    font-size: 3px;
    position: absolute;
    right: 0px;
    top: 1900px;
}*/


.blog-list-widget small {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }


.col-lg-8 col-md-10 mx-auto{
    margin-left:20px;
}
/*.DetailContext {
    margin-left: 200px
}*/
.table-bordered  {
    border: 1px solid blue;
}